html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #F1F8D8	;
}

body {
    margin: 0;
}

/*.page-content {
    padding: 20px 170px;
}*/

.header {
    background: #919e5c;
    padding: 20px 100px;
    box-shadow: 0 0 0px white;
}

.name {
    color: white;
    font-size: 26px;
}


.trains {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    margin: 5%;
    
}

.train {
    /*background: #2a444f75; */
    border-radius: 16px;
    /*box-shadow: 0px 0px 20px white inset; */
    /* box-shadow: 20px -5px 5px 5px rgba(0, 0, 0, .2); */
    display: flex;
    border: none;
    border: 1px solid gray;

    height: 200px;
    width: 360px;
}

.image1 {
    background: url(insert-word-new.png);
    background-size: 340px auto;
    
}

.image2 {
    background: url(test.png);
    background-size: 340px auto;

}

.image3 {
    background: url(true-false.png);
    background-size: 340px auto;

}


.train:focus {
    outline: none;
    box-shadow: 0px 0px 10px #919e5c inset;
    /*box-shadow: 20px -5px 10px 5px rgba(0, 0, 0, .2);*/

}

.name-of-train {
    font-size: 28px;
    margin: auto;
    /*color: white */
    color: rgb(54, 54, 54);
    font-weight: bold;             
    -webkit-text-stroke: 1px white;

    text-align: center;
}
/*
.themes-and-button {
    display: none;
}
*/
.themes-and-button-active {
    display: grid;
    padding: 0;
}

.theme {
    margin: 10px;
    font-size: 24px;
    color: gray;
}

.point-and-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.point-and-theme:last-of-type {
    margin-bottom: 30px;
}

.theory-button {
    background: none;
    border: none;
}

.theory-image {
    width: 35px !important;
}

.button-go {
    width: auto;
    background: #919e5c;
    padding: 12px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 50px white;
    display: grid;
    margin: auto;
    margin-bottom: 20px;
}

.button-go:focus {
    outline: none;
}

.button-go:active {
    box-shadow: 0 0 10px white inset;
}

.button-go-text {
    color: white;
    font-size: 24px;
}

.choose-button {
    padding: 10px;
    background: #919e5c;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;

}

.choose-button:focus {
    outline: none;
}

.choose-button:active {
    box-shadow: 0 0 10px white inset;
}

.button-go-text {
    color: white;
    font-size: 24px;
}

.choose-buttons {
    display: flex; 
    justify-content: center;
}

.theme {
    margin: 10px;
    font-size: 24px;
    color: gray;
}

.themes-and-buttons {
    display: grid;
}

.quiz-card {
    margin: 10% auto;
    width: fit-content;
    padding: 28px;
    box-shadow: 0 0 10px #919e5c;
    background: #fafeff;
    /* border-radius: 32px; */
    width: 20%;
}

.theory-card {
    margin: auto;
    width: fit-content;
    padding: 28px;
    box-shadow: 0 0 10px #919e5c;
    background: #fafeff;
    /* border-radius: 32px; */
    width: 90%;
}

.theory-table {
    border-collapse: collapse;
}

.choose-theory-buttons {
    display: grid;
}

.theory-button {
    margin: auto;
}

.quiz-text {
    font-size: 28px;
    color: rgb(82, 90, 52);
    margin: 10px 0;
}

.quiz-text:first-child {
    font-weight: 600;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
}